<!DOCTYPE html>
<html>
<head></head>

<link rel="stylesheet" href="/css/styles.css">

<body>
  {{>header header=title}}


  {{>footer name=name}}
<form>
  <input placeholder="Location">
  <button>Search</button>
</form>
<p id="location"></p>
<p id="temperature"></p>

<script src = "/js/weatherapp.js"></script>
</body>



</html>